# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
build/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# SSH keys
*.pem
*.key
